	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>My Rito</h1>
				<p>Welcome Summoner</p>
			</header>

		<!-- Search Box -->
			<form id="signup-form" method="POST" action="/search">
				<input type="text" name="summonerName" id="summonerName" placeholder="Enter Summoner Name" />
				<input type="submit" value="Find My Rito"/>
			</form>
            <p>{{errMsg}}</p>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://github.com/ohmez/projectrito" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="mailto:kkid_92@hotmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; My Rito isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games
                        or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are
                        trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/home-main.js"></script>
	</body>
</html>