<section>
    array test
    {{#each masteries}}
    <ul>
    {{#each dataValues}}
    <li>
    {{@key}}:{{this}} 
    </li>
    {{/each}}
    masteries working
    </ul>
    <br>
    {{/each}}
</section>